.hero-video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.hero-video-wrapper{
  display: flex;
  justify-content: center;
  margin-top: 60px;
  .hero-video-content{
    color: #f1f1f1;
    width: 80%;
    padding: 20px;
    h1{
        font-weight: bolder;
        font-size: 52px;
        margin-top: 20px;
    }
    .location{
        font-size: 26px;
        margin-bottom: 20px; 
        border-bottom: 4px solid rgba(25, 25, 118, 0.617);
        padding: 0 0 10px 5px;
    }
    p{
        margin-bottom: 15px;
    }
    .profile-img{
        display: flex;
        justify-content: center;
        img{
            margin-top: 20px;
            border-radius: 100%;
        }
    }

    .test{
        height: 200px;
        width: 20px;
        background-color: blue;
    }
}
}
